{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" type="text/css" href="{% static 'neal_main/css.css' %}" />
<script src="{% static 'downloads/audio.js' %}"></script>
<script>
// ensure the web page (DOM) has loaded
// ensure the web page (DOM) has loaded
function delineate(str1,str2)
{
document.addEventListener("DOMContentLoaded", function () {
// Create a popcorn instance by calling Popcorn("#id-of-my-video")
var pop = Popcorn("#ourvideo");
// add a footnote at 2 seconds, and remove it at 6 seconds
pop.footnote({
start: str1,
end: str2,
text: "NELS says: Guitar detected.",
target: "footnotediv"
});
// play the video right away
//pop.play();
}, false);

}


</script>
<title>NELS: Never Ending Learning of Sound
</title>

</head>
<body >
<div id = "title">
	<h1 class="logo">
		<a href="" target = "_parent">
		NELS: Never Ending Learning of Sound
		</a>
	</h1>

<p class="institute">

    I Crawl, I Hear, I Learn.

</p>
</font>
</div>
<div id="topmiddle" style="float: left; margin-top: 20px; margin-left: 30px;">
<font color = "#cccccc">
    <center>
	<h3 style="width: 40px;">

         Statistics:

    </h3>
    </center>
	<table style="font-size: 0.8em; margin-left: 20px; line-height: 1.4;">
        <tbody>
            <tr>
                <td style="text-align:right">

                Concepts: 7

                </td>
		<td style="text-align:right">

                Audio Clips: 850

                </td>
                
            </tr>
            <tr>
                <td style="text-align:right">

                &nbsp;&nbsp;&nbsp;Segmentations: 1, 93, 000

                </td>
                <td style="text-align:right">

                &nbsp;&nbsp;&nbsp;Audio Relationships: to be mapped


                </td>
            </tr>
        </tbody>
    </table>
</font>
</div>

<div id="topright">
<font color = "#cccccc">
<input id="category" value="Search Here"></input>
<input class="button" type="submit" style="float:left;" onclick="javascript: formSubmit()" value="Submit" name="SubmitT">
</input>
</font>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<!--
<div class="left_content">
<frameset framespacing="2" frameborder="no" cols="250,*">

    <frame name="neal_category">
    <html>
	<ul>	
<li>Objects<br /><br />
<li>Scenes<br /><br />
<li>Attributes<br /><br />
<li>Train a Concept<br /><br />
<li>Downloads<br /><br />
<li>About<br /><br />
	</bullet>
	</html>
    </frame>

</frameset>
</div>

<div class="right_content">
<frameset framespacing="2" frameborder="no" cols="250,*">

    <frame name="neal_category">
    <html>
<table>
    <tr>
        <th>One</th>
        
        <th>Two</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.one }}</td>
        
        <td>{{ item.two }}</td>
    </tr>
    {% endfor %}
</table>
	</html>
    </frame>

</frameset>
</div>
-->

<div class="content">
<frameset framespacing="2" frameborder="no" cols="250,*">

    <frame name="neal_category">
    <html>
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:neal_index' %}">Home</a></h2>
	</div>
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:objects' %}	">Objects</a></h2>
	</div>
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:segments' %}">Segments</a></h2>
	</div>
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:crawler' %}">Crawler</a></h2>
	</div>
	
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:downloads' %}">Downloads</a></h2>
	</div>
	<div class = "tab">
	<h2><a href = "{% url 'neal_main:about' %}">About</a></h2>
	</div>
	<div style="float:left;">
	<br />
	<br />
	<h3>Vision</h3>
	<br />
	Never Ending Learning of Sound (NELS)  is a computer program that works 24/7 learning information about sounds that it finds on the internet. It runs through the input audio files over web and tries to identify which sounds occur and when in the audio. It is an effort to build the world’s largest aural knowledge base with minimum human labeling effort – one that would be useful in several researches. 
	<br />
	<br />
	<hr>
	<br />
	<br />
	
	<center>
        <!-- Upload form. Note enctype attribute! -->
	Upload an audio file. NELS will categorise it
	<br />
	
        <form action="{% url 'neal_main:neal_index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>&nbsp;
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
		<br />
		
            <p>
                {{ form.docfile.errors }}
                &nbsp;&nbsp;&nbsp;
		{{ form.docfile }}
            </p>
		<br />
		
            <p><input type="submit" value="Upload" /></p>
        </form>
    	</center>
	<br />
	<br />
	<center>
		{% for item in list1 %}
	    		<script>
			delineate({{ item.start }}, {{ item.end }});
			</script>
    		{% endfor %}		
		
		<audio  id="ourvideo" controls>
  		<source src="{% static 'downloads/1.mp3' %}" type="audio/mpeg">
  		Your browser does not support the audio tag.
		</audio> 
		<div id="footnotediv" width="40"></div>

	</center>
	<!--
	{% load staticfiles %}
	 <audio controls>
  	<source src="{{MEDIA_URL}}neal_main/1.mp3" type="audio/mpeg">
  	Your browser does not support the audio tag.
	</audio> 
	-->
	<br />
	
	<br />
	<br />
	</div>	
	
</html>
</frame>
</frameset>
</div>


</body>
</html>
